/*
* other code style
*/

.hljs {
  position: relative;
  border-radius: 4px;
  &::before {
    content: attr(data-language);
    position: absolute;
    top: 4px;
    right: 0;
    color: #abb2bf;
    text-align: right;
    font-size: 1em;
    padding: 6px 10px 0;
    line-height: 16px;
  }
}
